@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.brands {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}

.growth {
  display: flex;
  align-items: end;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 2rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 995px) {
    flex-direction: column;
    width: auto;
  }
}

.plant-container {
  .growth {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 2rem;


    @media screen and (max-width: 995px) {
      flex-direction: column-reverse;
      flex-wrap: wrap;
      width: auto;
    }
  }
}

.logo{
  .growth{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 2rem;

    @media screen and (max-width: 995px) {
      width: auto;
      flex-wrap: wrap;      
    }
  }
}

.brand {
  .brands {
    display: flex;

    @media screen and (max-width: 995px) {
      flex-direction: column;
      width: auto;
    }
  }
}
