@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.footer{
    margin-top: 5rem;
    @media screen and (max-width: 995px) {
        .imgedit{
            justify-content: space-evenly;
            display: flex;
        }
    }
}